numpy==2.3.5
pandas==2.3.3
scipy==1.16.3
scikit-learn==1.0.2

xgboost==3.3.0
lightgbm==4.6.0
shap==0.52.0

tensorflow==2.21.0

matplotlib==3.10.6
seaborn
tqdm

sas7bdat==2.2.3
openpyxl

graphviz==0.21
