numpy==1.23.5
pandas==2.3.3
scipy==1.15.3
scikit-learn==1.7.2

xgboost==3.2.0
lightgbm==4.6.0
shap==0.49.1

tensorflow==2.10.1

matplotlib==3.10.9
seaborn==0.13.2
tqdm==4.68.3

sas7bdat==2.2.3
openpyxl==3.1.5

graphviz==0.21
